<html lang="en-US">
  <head>
    <title>Tutor</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.ctat.cs.cmu.edu/releases/beta/CTAT.css">
    <link rel="stylesheet" type="text/css" href="Assets/single.css">

    <script src="https://cdn.ctat.cs.cmu.edu/releases/beta/jquery.min.js"></script>
    <script src="https://cdn.ctat.cs.cmu.edu/releases/beta/ctat.min.js"></script>
    <script src="https://cdn.ctat.cs.cmu.edu/releases/beta/ctatloader.js"></script>
  </head>

  <body>
    <main class="CTATTutor">
      <h1>Tutor</h1>

      <section class="CTATProblemSolving">
        <h2>Problem Solving</h2>

        <section class="CTATProblem">
          <h3>Problem</h3>
          <div class="CTATTextField">Problem Statement</div>
        </section>

        <section class="CTATSolution">
          <h3>Solution</h3>
        </section>
      </section>

      <section class="CTATTools">
        <h2>Tools</h2>

        <div class="CTATButtons">
          <div class="CTATHintButton"></div>
          <div class="CTATDoneButton"></div>
        </div>
        <section class="CTATHints">
          <h3>Hints</h3>
          <div class="CTATHintWindow"></div>
        </section>

        <section class="CTATSkills">
          <h3>Skills</h3>
          <div class="CTATSkillWindow"></div>
        </section>
      </section>
    </main>
  </body>
</html>
